<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Nome do Vendedor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <strong class="capitalize">
        <h3> TOTAL DE VENDAS DE HOJE</h3>
      </strong>

      <h3 class="text-yellow">R$ 500,00</h3>

    </ion-card>


  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="schedule" routerLink="/sales-history">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Histórico</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers" routerLink="/sales">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Nova Compra</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>