ion-header{
  background: #130039;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

ion-tab-bar{
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
ion-header .hydrated{
  color: #fdcc52;
}

ion-title{
  font-weight: 300;
  text-align: center;
  font-size: 22px;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

.text-yellow{
  color: #fdcc52;
}