<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>MENU</ion-list-header><br>
          <ion-menu-toggle auto-hide="false">

            <ion-item>
              <ion-icon name="lock-open-outline"></ion-icon>
              <ion-label routerLink="/login">&nbsp;&nbsp;Login</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="home-outline"></ion-icon>
              <ion-label routerLink="/home">&nbsp;&nbsp;Home</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="cart-outline"></ion-icon>
              <ion-label routerLink="/sales">&nbsp;&nbsp;Vendas</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="cash-outline"></ion-icon>
              <ion-label routerLink="/sales-history">&nbsp;&nbsp;Histórico de Vendas</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
