<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Histórico de Vendas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Minhas ultimas vendas
    </ion-list-header>
    <ion-item *ngFor="let item of sales">
      <ion-label>
        <h2>{{item.product.name}}</h2>
        <ion-label color="success">{{item.value | currency:'BRL'}}</ion-label>
        <h4>QTD - {{item.qtd}}</h4>
        <h5>RECEBIMENTO - {{item.payment.name}}</h5>
        <h6>#COD - {{item.id}} - {{item.local.name}}</h6>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
