
  ion-tab-bar{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  ion-header .hydrated{
    color: #fdcc52;
    background: #130039;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 0;
  }
  
  ion-title{
    font-weight: 300;
    text-align: center;
    font-size: 22px;
  }
  
  ion-menu-button {
    color: var(--ion-color-primary);
  }

  .text-yellow{
    color: #fdcc52;
  }

  ion-grid{
      text-align: center;
  }
  
  .head-table ion-col{
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background: #130039;
  }

  .row-table ion-col{
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }

  .container{
      margin: 50px 10px;
  }